<!DOCTYPE html>
<html lang="ru" class="overflow-x-hidden">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block "title" .}}Learn Go - GoSpace: Путешествие к звездам{{end}}</title>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="/static/css/output.css">
</head>
<body class="bg-white overflow-x-hidden">
    {{block "content" .}}{{end}}
</body>
</html>
